langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
streamlit
beautifulsoup4
langchain-groq
langchain-core
fastapi
uvicorn
langserve